@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 400 16px "Kumbh Sans", sans-serif;
}
nav {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 95px;
  border-bottom: 1px solid #dddddf;
  .title {
    font-size: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    .menu-icon {
      display: none;
    }
  }
  .items {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;
      color: #868686;
      li {
        padding: 35px 0;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          color: #000;
          border-bottom: 3px solid #ff7d1a;
        }
      }
    }
  }
  .profile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .cart {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      svg {
        path {
          transition: all 0.4s ease-in-out;
          fill: #69707d;
          &:hover {
            fill: #000;
          }
        }
      }
      #cart-value {
        display: none;
        align-items: center;
        position: absolute;
        top: 8px;
        left: 9px;
        background: #ff7d1a;
        border-radius: 6px;
        color: #fff;
        font-size: 9px;
        padding: 0px 6px;
      }
    }
    .profile-picture {
      margin-left: 30px;
      img {
        height: 40px;
        width: auto;
        cursor: pointer;
        &:hover {
          border: 2px solid #ff7d1a;
          border-radius: 50px;
        }
      }
    }
  }
}
.lateral-menu {
  display: none;
}
.cart-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 90px;
  width: 320px;
  min-height: 170px;
  max-height: fit-content;
  padding: 15px 0 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(114, 113, 113, 0.383);
  .title {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    padding: 0 15px 15px;
    border-bottom: 1px solid #e4e4e4;
  }
  .modal-content {
    #modal-empty {
      display: flex;
      justify-content: center;
      font-weight: 700;
      color: #a1a1a1;
      text-align: center;
      padding-top: 50px;
    }
    #modal-filled {
      display: none;
      flex-direction: column;
      margin: 20px;
      .info {
        display: flex;
        align-items: center;
        .image-in-cart {
          height: 45px;
          width: auto;
          border-radius: 5px;
        }
        .text {
          padding: 0 10px;
          font-size: 15px;
          color: #505050;
          #result {
            padding-left: 5px;
            font-weight: 700;
            color: #000;
          }
        }
        .delete-icon {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          img {
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      button {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        background: #ff7002;
        border: 0;
        border-radius: 10px;
        padding: 15px 0;
        margin-top: 20px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.show-cart {
  display: flex;
}
.content-container {
  display: flex;
  max-width: 80%;
  margin: 50px auto 0;
  .mobile-images {
    display: none;
  }
  .card {
    width: 50%;
  }
  .text-container {
    padding: 30px 50px 30px 0;
    .company {
      color: #ff7d1a;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .sneaker-edition {
      font-size: 45px;
      padding: 10px 0 20px;
    }
    .description {
      color: #868686;
      padding-bottom: 15px;
    }
    .price-container {
      display: grid;
      grid-template-columns: [start] 130px [line1] 50px [end];
      grid-template-rows: [start] 40px [row1] 20px [end];
      align-items: center;
      .price {
        font-size: 25px;
      }
      .discount {
        color: #ff7002;
        border-radius: 5px;
        font-size: 14px;
        padding: 3px 7px;
        height: fit-content;
        width: fit-content;
        font-weight: 700;
        background: #f5ddcc;
      }
      .old-price {
        color: #868686;
        font-size: 15px;
        font-weight: 700;
        text-decoration: line-through;
      }
    }
    .cart-container {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      .value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 50px;
        padding: 0 20px;
        border-radius: 10px;
        background: #ebebeb;
        span {
          font-weight: 700;
        }
        img {
          cursor: pointer;
        }
      }
      .cart-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #ff7002;
        border: none;
        border-radius: 10px;
        width: 250px;
        cursor: pointer;
        filter: drop-shadow(0px 20px 30px rgba(255, 112, 2, 0.644));
        transition: all 0.4s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
        img {
          margin-right: 10px;
          width: 18px;
          height: auto;
        }
      }
    }
  }
}
.images-container {
  margin-left: 90px;
  display: grid;
  grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
  grid-template-rows: [start] 360px [row1] 90px [end];
  gap: 20px;
  .main-img {
    grid-column: start / end;
    grid-row: start / row1;
    width: 360px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
  .thumbnail-img {
    width: 75px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  .active {
    border: 2px solid #ff7002;
    opacity: 0.6;
  }
}
.lateral-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.815);
  .content-container {
    display: flex;
    flex-direction: column;
    transform: translateX(-40px);
    .close-btn {
      cursor: pointer;
      margin-left: auto;
      margin-bottom: 15px;
      transform: translateX(40px);
      &:hover {
        path {
          transition: all 0.4s ease-in-out;
          fill: #ff7d1a;
        }
      }
    }
    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
      position: fixed;
      transform: translate(470px, 240px);
      z-index: 12;
      &:hover {
        svg {
          path {
            transition: all 0.4s ease-in-out;
            stroke: #ff7d1a;
          }
        }
      }
    }
    .prev {
      transform: translate(30px, 240px);
    }
    .images-container {
      grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
      grid-template-rows: [start] 440px [row1] 90px [end];
      gap: 20px;
      .main-img {
        width: 440px;
        height: auto;
        transform: translateX(-40px);
        cursor: initial;
      }
    }
  }
}
@media (max-width: 376px) {
  .images-modal{
    display: none;
  }
  nav {
    max-width: 100%;
    height: fit-content;
    padding: 10px 20px;
    border: none;
    .title {
      font-size: 25px;
      .menu-icon {
        display: flex;
        width: 20px;
        height: 15px;
        margin: 6px 10px 0 0;
      }
    }
    .items {
      display: none;
    }
    .profile {
      .profile-picture {
        margin-left: 15px;
      }
    }
  }
  .lateral-menu {
    display: none;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background: rgba(22, 22, 22, 0.815);
    .items-container{
      display: flex;
      flex-direction: column;
      background: #fff;
      width: 0;
      height: 100%;
      padding: 30px;
      position: absolute;
      img{
        width: 20px;
        margin: 10px 0 20px 0;
      }
      .modal-items{
        list-style: none;
        li{
          font-size: 20px;
          font-weight: 700;
          margin: 20px 0;
          transition: all .4s ease-in-out;
          &:hover{
            color: #ff7002;
          }
        }
      }
      transition: width 1s ease-in-out;
    }
    .active-menu{
      left: 0;
      width: 70%;
    }
  }
  .content-container {
    margin: 0;
    flex-direction: column;
    .mobile-images {
      display: flex;
      width: 100vw;
      position: relative;
      max-height: 290px;
      overflow: hidden;
      .mobile-main-img {
        img {
          max-width: 100vw;
          max-height: auto;
        }
      }
      .btn-container {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          svg {
            path {
              transition: all 0.4s ease-in-out;
              stroke: #ff7d1a;
            }
          }
        }
      }
      .prev {
        top: 120px;
        left: 15px;
      }
      .next {
        top: 120px;
        right: 15px;
      }
    }
    .images-container {
      display: none;
    }
    .text-container {
      width: 100%;
      padding: 20px;
      overflow: hidden;
      width: 100vw;
      .sneaker-edition {
        font-size: 28px;
      }
      .description {
        font-size: 14px;
        line-height: 1.7;
      }
      .price-container {
        display: flex;
        flex-direction: row;
        .discount {
          margin-left: 20px;
          font-size: 18px;
        }
        .old-price {
          flex: 1;
          text-align: right;
          font-size: 17px;
        }
      }
    }
    .cart-container {
      flex-direction: column;
      .value {
        min-width: 100%;
      }
      .cart-btn {
        min-width: 100%;
        padding: 20px;
        font-size: 18px;
        filter: drop-shadow(0px 1px 30px rgba(255, 112, 2, 0.644));
        img {
          min-width: 20px;
          height: auto;
        }
      }
    }
  }
  .cart-modal {
    top: 75px;
    right: 10px;
    width: 355px;
    min-height: 200px;
  }
}
