@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 16px "Kumbh Sans", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 95px;
  border-bottom: 1px solid #dddddf;
}

nav .title {
  font-size: 20px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .title .menu-icon {
  display: none;
}

nav .items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  color: #868686;
}

nav .items ul li {
  padding: 35px 0;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

nav .items ul li:hover {
  color: #000;
  border-bottom: 3px solid #ff7d1a;
}

nav .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .profile .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

nav .profile .cart svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #69707d;
}

nav .profile .cart svg path:hover {
  fill: #000;
}

nav .profile .cart #cart-value {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  left: 9px;
  background: #ff7d1a;
  border-radius: 6px;
  color: #fff;
  font-size: 9px;
  padding: 0px 6px;
}

nav .profile .profile-picture {
  margin-left: 30px;
}

nav .profile .profile-picture img {
  height: 40px;
  width: auto;
  cursor: pointer;
}

nav .profile .profile-picture img:hover {
  border: 2px solid #ff7d1a;
  border-radius: 50px;
}

.cart-modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 90px;
  width: 320px;
  min-height: 170px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 15px 0 0;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(114, 113, 113, 0.383);
          box-shadow: 0 10px 20px rgba(114, 113, 113, 0.383);
}

.cart-modal .title {
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding: 0 15px 15px;
  border-bottom: 1px solid #e4e4e4;
}

.cart-modal .modal-content #modal-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: #a1a1a1;
  text-align: center;
  padding-top: 50px;
}

.cart-modal .modal-content #modal-filled {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.cart-modal .modal-content #modal-filled .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-modal .modal-content #modal-filled .info .image-in-cart {
  height: 45px;
  width: auto;
  border-radius: 5px;
}

.cart-modal .modal-content #modal-filled .info .text {
  padding: 0 10px;
  font-size: 15px;
  color: #505050;
}

.cart-modal .modal-content #modal-filled .info .text #result {
  padding-left: 5px;
  font-weight: 700;
  color: #000;
}

.cart-modal .modal-content #modal-filled .info .delete-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-modal .modal-content #modal-filled .info .delete-icon img {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cart-modal .modal-content #modal-filled .info .delete-icon img:hover {
  opacity: 0.5;
}

.cart-modal .modal-content #modal-filled button {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: #ff7002;
  border: 0;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.cart-modal .modal-content #modal-filled button:hover {
  opacity: 0.7;
}

.show-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin: 50px auto 0;
}

.content-container .mobile-images {
  display: none;
}

.content-container .card {
  width: 50%;
}

.content-container .text-container {
  padding: 30px 50px 30px 0;
}

.content-container .text-container .company {
  color: #ff7d1a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.content-container .text-container .sneaker-edition {
  font-size: 45px;
  padding: 10px 0 20px;
}

.content-container .text-container .description {
  color: #868686;
  padding-bottom: 15px;
}

.content-container .text-container .price-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 130px [line1] 50px [end];
      grid-template-columns: [start] 130px [line1] 50px [end];
  -ms-grid-rows: [start] 40px [row1] 20px [end];
      grid-template-rows: [start] 40px [row1] 20px [end];
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .text-container .price-container .price {
  font-size: 25px;
}

.content-container .text-container .price-container .discount {
  color: #ff7002;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  background: #f5ddcc;
}

.content-container .text-container .price-container .old-price {
  color: #868686;
  font-size: 15px;
  font-weight: 700;
  text-decoration: line-through;
}

.content-container .text-container .cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.content-container .text-container .cart-container .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  background: #ebebeb;
}

.content-container .text-container .cart-container .value span {
  font-weight: 700;
}

.content-container .text-container .cart-container .value img {
  cursor: pointer;
}

.content-container .text-container .cart-container .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #ff7002;
  border: none;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 20px 30px rgba(255, 112, 2, 0.644));
          filter: drop-shadow(0px 20px 30px rgba(255, 112, 2, 0.644));
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content-container .text-container .cart-container .cart-btn:hover {
  opacity: 0.8;
}

.content-container .text-container .cart-container .cart-btn img {
  margin-right: 10px;
  width: 18px;
  height: auto;
}

.images-container {
  margin-left: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
      grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
  -ms-grid-rows: [start] 360px [row1] 90px [end];
      grid-template-rows: [start] 360px [row1] 90px [end];
  gap: 20px;
}

.images-container .main-img {
  grid-column: start / end;
  grid-row: start / row1;
  width: 360px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.images-container .thumbnail-img {
  width: 75px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.images-container .thumbnail-img:hover {
  opacity: 0.6;
}

.images-container .active {
  border: 2px solid #ff7002;
  opacity: 0.6;
}

.images-modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.815);
}

.images-modal .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.images-modal .content-container .close-btn {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 15px;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.images-modal .content-container .close-btn:hover path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #ff7d1a;
}

.images-modal .content-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  -webkit-transform: translate(470px, 240px);
          transform: translate(470px, 240px);
  z-index: 12;
}

.images-modal .content-container .btn-container:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  stroke: #ff7d1a;
}

.images-modal .content-container .prev {
  -webkit-transform: translate(30px, 240px);
          transform: translate(30px, 240px);
}

.images-modal .content-container .images-container {
  -ms-grid-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
      grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
  -ms-grid-rows: [start] 440px [row1] 90px [end];
      grid-template-rows: [start] 440px [row1] 90px [end];
  gap: 20px;
}

.images-modal .content-container .images-container .main-img {
  width: 440px;
  height: auto;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.lateral-menu {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.815);
}

.lateral-menu .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.lateral-menu .content-container .close-btn {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 15px;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.lateral-menu .content-container .close-btn:hover path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #ff7d1a;
}

.lateral-menu .content-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  -webkit-transform: translate(470px, 240px);
          transform: translate(470px, 240px);
  z-index: 12;
}

.lateral-menu .content-container .btn-container:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  stroke: #ff7d1a;
}

.lateral-menu .content-container .prev {
  -webkit-transform: translate(30px, 240px);
          transform: translate(30px, 240px);
}

.lateral-menu .content-container .images-container {
  -ms-grid-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
      grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
  -ms-grid-rows: [start] 440px [row1] 90px [end];
      grid-template-rows: [start] 440px [row1] 90px [end];
  gap: 20px;
}

.lateral-menu .content-container .images-container .main-img {
  width: 440px;
  height: auto;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  cursor: initial;
}

@media (max-width: 1200px) {
  .content-container {
    max-width: 100%;
    gap: 30px;
  }
  .content-container .images-container {
    margin-left: 140px;
  }
}

@media (max-width: 1000px) {
  .content-container .images-container {
    margin-left: 40px;
  }
}

@media (max-width: 860px) {
  .images-modal {
    display: none;
  }
  nav {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 20px;
    border: none;
  }
  nav .title {
    font-size: 25px;
  }
  nav .title .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    height: 15px;
    margin: 6px 10px 0 0;
  }
  nav .items {
    display: none;
  }
  nav .profile .profile-picture {
    margin-left: 15px;
  }
  .lateral-menu {
    display: none;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background: rgba(22, 22, 22, 0.815);
  }
  .lateral-menu .items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    width: 0;
    height: 100%;
    padding: 30px;
    position: absolute;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
  .lateral-menu .items-container img {
    width: 20px;
    margin: 10px 0 20px 0;
  }
  .lateral-menu .items-container .modal-items {
    list-style: none;
  }
  .lateral-menu .items-container .modal-items li {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .lateral-menu .items-container .modal-items li:hover {
    color: #ff7002;
  }
  .lateral-menu .active-menu {
    left: 0;
    width: 70%;
  }
  .content-container {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-container .mobile-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    position: relative;
    max-height: 390px;
    overflow: hidden;
  }
  .content-container .mobile-images .mobile-main-img img {
    max-width: 100vw;
    max-height: auto;
  }
  .content-container .mobile-images .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .content-container .mobile-images .btn-container:hover svg path {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    stroke: #ff7d1a;
  }
  .content-container .mobile-images .prev {
    top: 120px;
    left: 15px;
  }
  .content-container .mobile-images .next {
    top: 120px;
    right: 15px;
  }
  .content-container .images-container {
    display: none;
  }
  .content-container .text-container {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    width: 100vw;
  }
  .content-container .text-container .sneaker-edition {
    font-size: 28px;
  }
  .content-container .text-container .description {
    font-size: 14px;
    line-height: 1.7;
  }
  .content-container .text-container .price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-container .text-container .price-container .discount {
    margin-left: 20px;
    font-size: 18px;
  }
  .content-container .text-container .price-container .old-price {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    font-size: 17px;
  }
  .content-container .cart-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-container .cart-container .value {
    min-width: 100%;
  }
  .content-container .cart-container .cart-btn {
    min-width: 100%;
    padding: 20px;
    font-size: 18px;
    -webkit-filter: drop-shadow(0px 1px 30px rgba(255, 112, 2, 0.644));
            filter: drop-shadow(0px 1px 30px rgba(255, 112, 2, 0.644));
  }
  .content-container .cart-container .cart-btn img {
    min-width: 20px;
    height: auto;
  }
  .cart-modal {
    top: 75px;
    right: 10px;
    width: 355px;
    min-height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */