@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 400 16px "Kumbh Sans", sans-serif;
}
nav {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 95px;
  border-bottom: 1px solid #dddddf;
  .title {
    font-size: 20px;
    margin-right: 50px;
  }
  .items {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;
      color: #868686;
      li {
        padding: 35px 0;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          color: #000;
          border-bottom: 3px solid #ff7d1a;
        }
      }
    }
  }
  .profile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .cart {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      svg {
        path {
          transition: all 0.4s ease-in-out;
          fill: #69707d;
          &:hover {
            fill: #000;
          }
        }
      }
      #cart-value {
        display: flex;
        align-items: center;
        position: absolute;
        top: 8px;
        left: 9px;
        background: #ff7d1a;
        border-radius: 6px;
        color: #fff;
        font-size: 9px;
        padding: 0px 6px;
      }
    }
    .profile-picture {
      margin-left: 30px;
      img {
        height: 40px;
        width: auto;
        cursor: pointer;
        &:hover {
          border: 2px solid #ff7d1a;
          border-radius: 50px;
        }
      }
    }
  }
}
.content-container {
  display: flex;
  max-width: 80%;
  margin: 50px auto 0;
  .card {
    width: 50%;
  }
  .images-container {
    margin-left: 90px;
    display: grid;
    grid-template-columns: [start] 75px [line1] 75px [line2] 75px [line3] 75px [end];
    grid-template-rows: [start] 360px [row1] 90px [end];
    gap: 20px;
    .main-img {
      grid-column: start / end;
      grid-row: start / row1;
      width: 360px;
      height: auto;
      border-radius: 10px;
      cursor: pointer;
    }
    .thumbnail-img {
      width: 75px;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
    .active {
      border: 2px solid #ff7002;
      opacity: 0.6;
    }
  }
  .text-container {
    padding: 30px 50px 30px 0;
    .company {
      color: #ff7d1a;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .sneaker-edition {
      font-size: 45px;
      padding: 10px 0 20px;
    }
    .description {
      color: #868686;
      padding-bottom: 15px;
    }
    .price-container {
      display: grid;
      grid-template-columns: [start] 130px [line1] 50px [end];
      grid-template-rows: [start] 40px [row1] 20px [end];
      align-items: center;
      .price {
        font-size: 25px;
      }
      .discount {
        color: #ff7002;
        border-radius: 5px;
        font-size: 14px;
        padding: 3px 7px;
        height: fit-content;
        width: fit-content;
        font-weight: 700;
        background: #f5ddcc;
      }
      .old-price {
        color: #868686;
        font-size: 15px;
        font-weight: 700;
        text-decoration: line-through;
      }
    }
    .cart-container {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      .value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background: #ebebeb;
        span {
          font-weight: 700;
          padding: 0 40px;
        }
        img {
          cursor: pointer;
        }
      }
      .cart-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #ff7002;
        border: none;
        border-radius: 10px;
        width: 250px;
        cursor: pointer;
        img {
          margin-right: 10px;
          width: 18px;
          height: auto;
        }
        filter: drop-shadow(0px 20px 30px rgba(255, 112, 2, 0.644));
        transition: all 0.4s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
